<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/dashboard">FP:ADMIN</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Games<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href=<%=new_game_path%>>New</a></li>
            <li><a href=<%=games_dashboard_index_path%>>Edit</a></li>
            <li><a href=<%=display_order_games_path%>>Set Display Order</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pizzas<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href=<%=new_pizza_path%>>New</a></li>
            <li><a href=<%=pizzas_dashboard_index_path%>>Edit</a></li>
            <li><a href=<%=display_order_pizzas_path%>>Set Display Order</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Beers<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href=<%=new_beer_path%>>New</a></li>
            <li><a href=<%=beers_dashboard_index_path%>>Edit</a></li>
            <li><a href=<%=display_order_beers_path%>>Set Display Order</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Food<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href=<%=new_food_path%>>New</a></li>
            <li><a href=<%=foods_dashboard_index_path%>>Edit</a></li>
            <li><a href=<%=display_order_foods_path%>>Set Display Order</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">News<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href=<%=new_post_path%>>New</a></li>
            <li><a href=<%=posts_dashboard_index_path%>>Edit</a></li>
          </ul>
        </li>
      </ul>
      <!--form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form-->
      <!--ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul-->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
