<% path_type = @type.downcase %>
<%- model_class = @type.constantize -%>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<div style="margin-bottom:10px;">
<%= link_to t('.new', :default => t("helpers.links.new")),
            @url_helper.send("new_#{path_type}_path"),
            :class => 'btn btn-primary' %>
</div>
<%- if flash[:notice] || flash[:error]-%>
  <div class="span4">  
    <% alert_class= (flash[:error].blank?)? "alert-success" : "alert-danger" %>
    <% msg = (flash[:error].blank?)? flash[:notice] : flash[:error] %>
    <div class="alert <%="#{alert_class}" %>">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <%= msg %>
    </div>
  </div>
<%- end -%>

<table class="table table-bordered table-striped products-admin">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th>Visible</th>
      <th>Featured</th>
      <th>Category</th>
      <th style="min-width:475px"><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>

  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td class='product-title'><%= link_to product.title, @url_helper.send("edit_#{path_type}_path",product) %></td>
        <% if product.visible%>
          <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
        <% else %>
          <td><span class="glyphicon glyphicon-remove" style="color:red"></span></td>
        <% end %>
        <% if product.featured%>
          <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
        <% else %>
          <td><span class="glyphicon glyphicon-remove" style="color:red"></span></td>
        <% end %>
        <td><%= @type.constantize::CATEGORIES[product.category] %></td>

        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      @url_helper.send("edit_#{path_type}_path",product), :class => 'btn btn-mini btn-primary' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      @url_helper.send("#{path_type}_path",product),
                      :method => :delete,
                      data: { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                      :class => 'btn btn-mini btn-danger' %>
          <%= link_to("View", @url_helper.send("#{path_type}_path", product), {:target=>"_new", :class=>"btn btn-info"})%>
          <%= link_to("Visible", @url_helper.send("toggle_visible_#{path_type}_path",product),{:class=>"btn btn-warning"}) %>
          <%= link_to("Featured", @url_helper.send("make_featured_#{path_type}_path",product),{:class=>"btn btn-success"}) %>
          <% if product.type == "Game" %>
            <%= link_to("Set High Scores", set_high_scores_game_path(product), {:class=>"btn btn-info"}) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


