.container{class:"#{@type.downcase}-index"}
  .index-featured.row
    .col-md-4.col-sm-4.col-xs-12.image-container
      %img{src:"/assets/overlay-#{@type.downcase}-sq.png",style:"background-image:url(#{@featured.image.feature})"}
    .col-md-8.col-sm-8.col-xs-12
      %h2="Featured #{@type}:"
      %h2.title=@featured.title
      =raw @featured.description
  .row.products
    - @products.each_pair do |key, items|
      - category = cycle("category-one","category-two")
      .col-md-6.col-sm-6.col-xs-12{class:category}
        %h3= @const::CATEGORIES[key]
        - items.each do |item|
          .row.item
            %h4= item.title
            %img{src:item.image.small}
            .description
              = raw item.description

  -if @type.downcase == "pizza"
    = #render "slices"
    = #render "salads"

    .row.products
      - @food.keys.sort.each do |key|
        - items = @food[key]
        - category = cycle("appetizers","salads","col-md-offset-3 col-sm-offset-3 desserts")
        .col-md-6.col-sm-6.col-xs-12{class:category}
          %h3= Food::CATEGORIES[key].pluralize
          - items.each do |item|
            .row.item
              %h4= item.title
              %img{src:item.image.small}
              .description
                = raw item.description
